.section-grid {
    background: whitesmoke;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}

.grid-container {
    height: 100%;
    padding: 3rem;
    background-color: #ddd;
}

.grid {
    background: #ddd;
    height: 100%;
    display: grid;
    position: relative;
}

.grid-item {
    display: inline-block;
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 1000rem;
    background-color: var(--clr-primary);
    border: 2px solid black;
    justify-self: center;
    align-self: center;
    z-index: 2;
}

.edge {
    height: 2px;
    background: linear-gradient(
        to right,
        rgb(0, 196, 0) 0% 33.3333%,
        yellow 33.3333% 66.6667%,
        black 66.6667% 100%
    );
    background-size: 300% 100%;
    background-position: 100% 0%;
    z-index: 0;
    position: absolute;
    transition: background-position 0.4s linear;
}

.edge-traversing {
    background-position: 50% 0%;
    z-index: 1;
}

.edge-final {
    background-position: 0% 0%;
    z-index: 1;
}
