:root {
    --clr-primary: rgb(247, 6, 38);
    --clr-selection: rgb(10, 10, 30);
}

.selection {
    width: 100%;
    padding: 1rem 0rem;
    position: relative;
    background-color: var(--clr-selection);
    display: flex;
    align-items: center;
}

.selection > :not(:first-child) {
    margin: 0 0.5rem;
}

.selection-title {
    color: white;
    padding: 1rem 2rem;
    white-space: nowrap;
}

.slider-container {
    height: 100%;
    background-color: whitesmoke;
    padding: 0 6.6rem 0 0.7rem;
    border-radius: 1000rem;

    position: relative;
    display: flex;
    align-items: center;
}

.slider-frame {
    background-color: whitesmoke;
    padding: 0.6rem 0.9rem;

    display: inline-flex;
    border: 1px solid grey;
    border-radius: 1000rem;
}

.slider-title {
    margin-right: 0.5rem;
}

.slider-display {
    position: absolute;
    left: calc(100% - 3.3rem);
    transform: translateX(-50%);
}

.slider {
    background: var(--clr-primary);
    -webkit-appearance: none;
    border-radius: 1000rem;
    height: 1rem;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: whitesmoke;
    border: 1px solid #222;
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
}

.slider::-moz-range-thumb {
    background: whitesmoke;
    border: 1px solid #222;
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
}

.slider::-ms-thumb {
    background: whitesmoke;
    border: 1px solid #222;
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
}

.button-generate {
    background-color: rgb(253, 29, 21);
    color: black;
    border: none;
    align-self: stretch;
    padding: 1rem 1.6rem;
    font-size: 1.7rem;
    font-family: inherit;
    outline: none;
    border-radius: 1000rem;
    transition: all 0.17s;
    cursor: pointer;
}

.button-generate:hover {
    filter: brightness(105%);
}

.button-run {
    background-color: rgb(253, 29, 21);
    color: black;
    border: none;
    align-self: stretch;
    padding: 1rem 1.6rem;
    font-size: 1.7rem;
    font-family: inherit;
    outline: none;
    border-radius: 1000rem;
    transition: all 0.17s;
    cursor: pointer;
}
.button-run:hover {
    filter: brightness(105%);
}

.key-container {
    background-color: whitesmoke;
    color: #222;
    align-self: stretch;
    padding: 1rem 1.6rem;
    font-family: inherit;
    outline: none;
    display: flex;
    align-items: center;
    border-radius: 1000rem;
}

.key-container > * {
    position: relative;
}

.key-container > :not(:first-child) {
    margin-left: 0.7rem;
}

.key-container > :not(:last-child) {
    margin-right: 0.7rem;
}

.key-container > :not(:first-child)::before {
    content: "";
    height: 100%;
    width: 1px;
    background-color: grey;
    position: absolute;
    top: 0;
    left: -0.7rem;
}

.key-title {
    font-size: 1.7rem;
    font-weight: 500;
}

.key-item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 1.8rem;
}

.key-item-title {
    margin-right: 0.3rem;
}

.key-node {
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 1000rem;
    border: 2px solid #111;
    background-color: var(--clr-primary);
    align-self: stretch;
}

.key-source {
    background-color: yellow;
}

.key-destination {
    background-color: blue;
}

.key-edge {
    width: 4rem;
    height: 3px;
    background-color: black;
    transform: translateY(0.1rem);
}
